.container_total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #aaaaaa;
  gap: 40px;
}



@media screen and (max-width: 420px) {
  .container_total {
    height: auto;
    padding: 40px;
  }
}
